 <!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Horario de Retiros</h1>

    <a th:href="@{/horario/nuevo}" class="btn btn-primary mb-3">Nuevo Horario</a>

    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>Hora inicio</th>
                        <th>Hora fin</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="horario : ${horarios}">
                        <td th:text="${horario.hrInicio}"></td>
                        <td th:text="${horario.hrFin}"></td>
                        <td th:text="${horario.hrEstado}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</html>
