<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Nuevo Horario de Retiro</h1>

    <div class="card">
        <div class="card-body">
            <form th:action="@{/horario}" th:object="${horario}" method="post">
                <input type="hidden" th:field="*{idHorarioRetiro}">
                <div class="mb-3">
                    <label class="form-label">Hora inicio</label>
                    <input type="time" th:field="*{hrInicio}" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Hora fin</label>
                    <input type="time" th:field="*{hrFin}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>

</div>

</html>
