<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Nueva Categoria</h1>

    <div class="card">
        <div class="card-body">
            <form th:action="@{/categoria}" th:object="${categoria}" method="post">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" th:field="*{categoriaNombre}" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripcion</label>
                    <input type="text" th:field="*{categoriaDescripcion}" class="form-control">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" th:field="*{categoriaEstado}" class="form-check-input">
                    <label class="form-check-label">Estado</label>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>

</div>

</html>
