<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Clientes</h1>

    <a th:href="@{/cliente/nuevo}" class="btn btn-primary mb-3">Nuevo Cliente</a>

    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.cliNombre}"></td>
                        <td th:text="${cliente.cliApellido}"></td>
                        <td th:text="${cliente.cliCorreo}"></td>
                        <td th:text="${cliente.cliTelefono}"></td>
                        <td th:text="${cliente.cliEstado}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</html>
