<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Clientes</h1>

    <div class="card">
    <div class="card-table">
		<div class="card-header">
			<div class="row w-full">
				<div class="col">
					<h3 class="card-title mb-0">
						Employee
					</h3>
					<p class="text-secondary m-0">
						Table description.
					</p>
				</div>
				<div class="col-md-auto col-sm-12">
					

					<div class="ms-auto d-flex flex-wrap btn-list">
						<div class="input-group input-group-flat w-auto">
							<span class="input-group-text">
								<!-- Download SVG icon from http://tabler.io/icons/icon/search -->
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
							</span>

							<input id="advanced-table-search" type="text" class="form-control" autocomplete="off">

							<span class="input-group-text">
								<kbd>ctrl + K</kbd>
							</span>
						</div>

						<a href="#" class="btn btn-icon" aria-label="Button">
							<!-- Download SVG icon from http://tabler.io/icons/icon/dots -->
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
						</a>
						

    <a th:href="@{/cliente/nuevo}" class="btn btn-primary mb-3">Nuevo Cliente</a>

						


					</div>
				</div>
			</div>
		</div>

		<div id="advanced-table">
    
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody class="table-tbody">
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.cliNombre}"></td>
                        <td th:text="${cliente.cliApellido}"></td>
                        <td th:text="${cliente.cliCorreo}"></td>
                        <td th:text="${cliente.cliTelefono}"></td>
                        <td th:text="${cliente.cliEstado}"></td>
                        
                        <td>
    							<a th:href="@{/cliente/editar/{id}(id=${cliente.idCliente})}">
        							<img src="/core/dist/icons/edit.svg" width="20" height="20">
    							</a>
							</td>

							<td>
    							<a th:href="@{/cliente/eliminar/{id}(id=${cliente.idCliente})}">
        							<img src="/core/dist/icons/trash.svg" width="20" height="20">
    							</a>
							</td>
                        
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

</div>
</div>

</html>
