<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Lista de Productos</h1>

    <a th:href="@{/producto/nuevo}" class="btn btn-primary mb-3">Nuevo Producto</a>

    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
						<th>Imagen</th>                    
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Categoria</th>
                        <th>Fecha creacion</th>
                        <th>Acciones</th>
						
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                    
                    <!-- Imagen -->
        <td>
            <img
                th:if="${producto.prodImagen != null and !producto.prodImagen.isBlank()}"
                th:src="${producto.prodImagen}"
                th:alt="${producto.prodNombre}"
                class="avatar avatar-md rounded">

            <span
                th:if="${producto.prodImagen == null or producto.prodImagen.isBlank()}"
                class="avatar avatar-md bg-secondary-lt">
                TB
            </span>
        </td>

        <!-- Nombre -->
        <td th:text="${producto.prodNombre}">
            Nombre
        </td>

        <!-- Descripción -->
        <td th:text="${producto.prodDescripcion}">
            Descripción
        </td>

        <!-- Precio -->
        <td>
            <span
                th:if="${producto.prodPrecio != null}"
                class="fw-bold"
                th:text="'$' + ${#numbers.formatDecimal(producto.prodPrecio, 1, 2)}">
                $0.00
            </span>

            <span
                th:if="${producto.prodPrecio == null}"
                class="text-secondary">
                Sin precio
            </span>
        </td>

        <!-- Stock -->
        <td th:text="${producto.prodStock}">
            0
        </td>

        <!-- Categoría -->
        <td th:text="${producto.prodCategoria}">
            Categoría
        </td>

        <!-- Fecha -->
        <td
            th:text="${producto.proFechaCreacion != null
                ? #temporals.format(producto.proFechaCreacion, 'dd/MM/yyyy HH:mm')
                : 'Sin fecha'}">
            Sin fecha
        </td>

        <!-- Acciones -->
        <td>
            <div class="btn-list flex-nowrap">

                <a
                    th:href="@{/producto/editar/{id}(id=${producto.idProducto})}"
                    class="btn btn-sm btn-outline-primary"
                    title="Editar producto">

                    <img
                        th:src="@{/core/dist/icons/edit.svg}"
                        width="20"
                        height="20"
                        alt="Editar">
                </a>

                <a
                    th:href="@{/producto/eliminar/{id}(id=${producto.idProducto})}"
                    class="btn btn-sm btn-outline-danger"
                    title="Eliminar producto"
                    onclick="return confirm('¿Deseas eliminar este producto?')">

                    <img
                        th:src="@{/core/dist/icons/trash.svg}"
                        width="20"
                        height="20"
                        alt="Eliminar">
                </a>

            </div>
        </td>
                        
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</html>
