<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Lista de Productos</h1>

    <a th:href="@{/producto/nuevo}" class="btn btn-primary mb-3">Nuevo Producto</a>

    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Stock</th>
                        <th>Categoria</th>
                        <th>Fecha creacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.prodNombre}"></td>
                        <td th:text="${producto.prodDescripcion}"></td>
                        <td th:text="${producto.prodStock}"></td>
                        <td th:text="${producto.categoriaNombre}"></td>
                        <td th:text="${producto.proFechaCreacion}"></td>
                        
                        <td>
    							<a th:href="@{/producto/editar/{id}(id=${producto.idProducto})}">
        							<img src="/core/dist/icons/edit.svg" width="20" height="20">
    							</a>
							</td>

							<td>
    							<a th:href="@{/producto/eliminar/{id}(id=${producto.idProducto})}">
        							<img src="/core/dist/icons/trash.svg" width="20" height="20">
    							</a>
							</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</html>
