<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Nuevo Producto</h1>

    <div class="card">
        <div class="card-body">
            <form th:action="@{/producto}" th:object="${producto}" method="post">
                <input type="hidden" th:field="*{idProducto}">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" th:field="*{prodNombre}" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripcion</label>
                    <input type="text" th:field="*{prodDescripcion}" class="form-control">
                </div>
                <div class="mb-3">
   					 <label class="form-label" for="prodPrecio">
        				Precio
   					 </label>

  				  <div class="input-group">
        				<span class="input-group-text">$</span>

       						 <input
           						 id="prodPrecio"
								 type="number"
						            th:field="*{prodPrecio}"
						            class="form-control"
						            placeholder="0.00"
						            min="0.01"
						            step="0.01"
						            required>
						    </div>
						    <small class="form-hint">
        
						    </small>
						</div>
						
						<div class="mb-3">
						    <label class="form-label" for="prodImagen">
						        URL de la imagen
						    </label>
						
						    <input
						        id="prodImagen"
						        type="url"
						        th:field="*{prodImagen}"
						        class="form-control"
						        placeholder="https://ejemplo.com/hamburguesa.jpg">
						
						    <small class="form-hint">
						        Por ahora utilizaremos una dirección web. Después podemos implementar carga de archivos.
						    </small>
						</div>
						
						<div
						    class="mt-3"
						    th:if="${producto.prodImagen != null and !producto.prodImagen.isBlank()}">
						
						    <label class="form-label">Imagen actual</label>
						
						    <div>
						        <img
						            th:src="${producto.prodImagen}"
						            alt="Imagen del producto"
						            class="rounded border"
						            style="width: 180px; height: 120px; object-fit: cover;">
						    </div>
						</div>
                
                <div class="mb-3">
                    <label class="form-label">Stock</label>
                    <input type="number" th:field="*{prodStock}" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Categoria</label>
                    <input type="text" th:field="*{prodCategoria}" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha creacion</label>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>

</div>

</html>
