<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Ordenes de Compra</h1>

    <a th:href="@{/ordencompra/nuevo}" class="btn btn-primary mb-3">Nueva Orden de Compra</a>

    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Proveedor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ordenCompra : ${ordenesCompra}">
                        <td th:text="${ordenCompra.ocFecha}"></td>
                        <td th:text="${ordenCompra.ocProveedor}"></td>

                        <td>
    							<a th:href="@{/ordencompra/editar/{id}(id=${ordenCompra.idOrdenCompra})}">
        							<img src="/core/dist/icons/edit.svg" width="20" height="20">
    							</a>
							</td>

							<td>
    							<a th:href="@{/ordencompra/eliminar/{id}(id=${ordenCompra.idOrdenCompra})}">
        							<img src="/core/dist/icons/trash.svg" width="20" height="20">
    							</a>
							</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</html>
