<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Lista de Pedidos</h1>

    <a th:href="@{/pedido/nuevo}" class="btn btn-primary mb-3">Nuevo Pedido</a>

    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>Fecha pedido</th>
                        <th>Hora retiro</th>
                        <th>Estado</th>
                        <th>Total</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pedido : ${pedidos}">
                        <td th:text="${pedido.pedidoFechaPedido}"></td>
                        <td th:text="${pedido.pedidoHoraRetiro}"></td>
                        <td th:text="${pedido.pedidoEstado}"></td>
                        <td th:text="${pedido.pedidoTotal}"></td>
                        <td th:text="${pedido.pedidoDescripcion}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</html>
