<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Lista de Pedidos</h1>

    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>Fecha pedido</th>
                        <th>Hora retiro</th>
                        <th>Estado</th>
                        <th>Total</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pedido : ${pedidos}">
                        <td th:text="${pedido.pedidoFechaPedido}"></td>
                        <td th:text="${pedido.pedidoHoraRetiro}"></td>
                        <td>

						    <form
						        th:action="@{/pedido/{id}/estado(id=${pedido.idPedido})}"
						        method="post"
						        class="d-flex gap-2">
						
						        <select
						            name="estado"
						            class="form-select"
						            th:disabled="${pedido.pedidoEstadoProceso
						                == 'ENTREGADO'
						                or pedido.pedidoEstadoProceso
						                == 'CANCELADO'}">
						
						            <option
						                th:value="${pedido.pedidoEstadoProceso}"
						                th:text="${pedido.pedidoEstadoProceso}"
						                selected>
						                PENDIENTE
						            </option>
						
						            <option
						                th:if="${pedido.pedidoEstadoProceso
						                    == null
						                    or pedido.pedidoEstadoProceso
						                    == 'PENDIENTE'}"
						                value="EN_PREPARACION">
						                En preparación
						            </option>
						
						            <option
						                th:if="${pedido.pedidoEstadoProceso
						                    == null
						                    or pedido.pedidoEstadoProceso
						                    == 'PENDIENTE'
						                    or pedido.pedidoEstadoProceso
						                    == 'EN_PREPARACION'}"
						                value="CANCELADO">
						                Cancelado
						            </option>
						
						            <option
						                th:if="${pedido.pedidoEstadoProceso
						                    == 'EN_PREPARACION'}"
						                value="LISTO">
						                Listo
						            </option>
						
						            <option
						                th:if="${pedido.pedidoEstadoProceso
						                    == 'LISTO'}"
						                value="ENTREGADO">
						                Entregado
						            </option>
						
						        </select>
						
						        <button
						            type="submit"
						            class="btn btn-primary"
						            th:disabled="${pedido.pedidoEstadoProceso
						                == 'ENTREGADO'
						                or pedido.pedidoEstadoProceso
						                == 'CANCELADO'}">
						            Cambiar
						        </button>
						
						    </form>
						</td>
						
                        <td th:text="${pedido.pedidoTotal}"> </td>
                        <td th:text="${pedido.pedidoDescripcion}"></td>
                       
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</html>
