<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/principal}">

<div layout:fragment="contenido">

    <h1>Nuevo Pedido</h1>

    <div class="card">
        <div class="card-body">
            <form th:action="@{/pedido}" th:object="${pedido}" method="post">
                <input type="hidden" th:field="*{idPedido}">
                <div class="mb-3">
                    <label class="form-label">Fecha pedido</label>
                    <input type="date" th:field="*{pedidoFechaPedido}" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Hora retiro</label>
                    <input type="time" th:field="*{pedidoHoraRetiro}" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Total</label>
                    <input type="number" step="0.01" th:field="*{pedidoTotal}" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripcion</label>
                    <input type="text" th:field="*{pedidoDescripcion}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>

</div>

</html>
